* {
  margin: 0;
}

.dragon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.image {
  width: 200px;
  height: 180px;
  margin-right: 20px;
}

.bg-primary {
  float: right;
}
